@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
li,
a:link,
ul,
ul,
li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
} 

body {
    background: #1f1e1f;
    color: rgb(212, 212, 212);
    font-family: 'Poppins', sans-serif;
}

span.spotlight {
    color: #c49cd4;
}

.container {
    max-width: 600px;
    min-height: 400px;
}

.container .main-nav {
    margin-top: 10px;
}

.container .main-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .main-nav-items .menu-item {
    width: 20%;
}

.container .main-nav-items span {
    width: 100%;
    font-size: 12px;
    color: #ddd;
}

.hide {
    display: none;
}

.btn-active {
    border: 1px solid rgb(180, 172, 172);
    border-radius: 5px;
}

.savewarning {
    text-align: center;
    color: yellow;
}

section {
    width: 100%;
    margin-top: 20px;
    background: #313031;
    border-radius: 5px;
}

section h1 {
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

section form,
section.show-list table {
    padding-bottom: 30px;
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
}

.add-item-subit-container,
.options-change-fields-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.form-check.form-switch {
    margin: 10px 0;
}

button[type="submit"] {
    width: 100%;
}

section.show-options h3 {
    font-size: 16px;
    margin: 10px 0;
}

section.show-options .change {
    border-bottom: 2px solid rgba( 255, 255, 255, .2);
    padding-bottom: 20px;
}

section.show-options .change-fields-name #options-change-fields {
    margin-top: 10px;
}

input.pickr {
    font-size: 0 !important;
    width: 100px;
    padding: 15px !important;
}

.separation{
    background-color: #595959f5;
    padding: 5px;
    border-radius: 5px;
}

span.alert{
    font-size: 16px;
    color: #c65757;
    text-align: center;    
    display: block;
}

.last-reard-id-from-chat{
    margin: 50px auto;
    padding: 5px;
    background-color: #463c5e;
    border-radius: 5px;
}